[name*="TitleForm"] {
    color: #334a54 !important;       
    font-size: 1.5rem !important;    
    font-family: 'Segoe UI', sans-serif; 
    font-weight: 700 !important;     
    text-transform: uppercase;       
    text-align: center;              
    margin-bottom: 1rem;             
}
html:not(.designer) .title {
    font-weight: 600;
    font-size: 1rem;
    color: #002134;
    margin-bottom: 5px; /* space between title and subtitle */
}
[name*="subtitle"] {
    color: #707070 !important;       
    font-size: 1.5rem !important;    
    font-family: 'Segoe UI', sans-serif; 
    text-transform: uppercase;       
    text-align: center;             
    margin-bottom: 1rem;             
}
html:not(.designer) .subtitle {
    font-weight: 400;
    font-size: 0.9rem;
    color: #555;
}
/* Container box */
html:not(.designer) [name*="competitors-box"] {
    background-color: #f3e1de;   
    border: 1px solid #e0bebe;   
    border-radius: 10px;         
    padding: 15px 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #002134;            
    line-height: 1.6;
    font-weight: 500;            
}



html:not(.designer) .Services {
    background-color: #fdfcfa;   
    border: 1px solid #eee;     
    border-radius: 10px;         
    padding: 15px 20px;        
    font-family: 'Segoe UI', sans-serif;
    color: #333;                 
    line-height: 1.5;
}

/* Style the ServiceStepsBox like competitors-box */
html:not(.designer) [name*="ServiceStepsBox"] {
    background-color: #f3e1de;   
    border: 1px solid #e0bebe;  
    border-radius: 10px;        
    padding: 15px 20px;       
    font-family: 'Segoe UI', sans-serif;
    color: #002134;              
    line-height: 2.6;
    font-weight: 500;
    display: block;
    white-space: normal;
    word-wrap: break-word;
    width:54%;
}

html:not(.designer) .save-draft {
    display: inline-flex;
    align-items: center;         
    padding: 5px 10px;           
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: #002134;             
    cursor: pointer;            
}

html:not(.designer) .save-draft .save-icon {
    width: 14px;               
    height: 14px;              
    margin-right: 0;       /* no space between icon and text */
}











